<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmegCpGbDHuEcFnlw5NBNdE0nNYbL9DuY&callback" ></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fire Fighting Eagle</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <div id="map" class=""></div>
    <script>
    var json = JSON.parse('<%- data %>');
      var map;
      var fires = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 16.460134, lng: -12.488326},
          zoom: 2,
          minZoom: 2
        });

        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);

		for(var i = 0; i < json.length; i++){
			fires.push(json[i]);

			var myLatLng = {lat: parseFloat(json[i].latitude), lng: parseFloat(json[i].longitude)};

			fires[i].marker = new google.maps.Marker({
		      position: myLatLng,
		      map: map,
		      icon: '/images/fire.png'
		    })

		    fires[i].marker.index = i;


			fires[i].marker.addListener('click', function(event) {
				var i = this.index;

				if(fires[i].hasOwnProperty("circle")){
					fires[i].circle.setMap(null);
					delete fires[i].circle;
				}
				
			  	var myLatLng = {lat: parseFloat(json[i].latitude), lng: parseFloat(json[i].longitude)};
				fires[i].circle = new google.maps.Circle({
					center: myLatLng,
					radius: parseInt(json[i].scan * 1000),
					strokeColor: "red",
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: "red",
					fillOpacity: 0.4,
					map: map
				});

				map.setZoom(12);
				map.setCenter(myLatLng);
	        });
		}
    }

    initMap();
      
    </script>
  </body>
</html>